In [5]:
import warnings

import pandas as pd
import pymc as pm
import arviz as az
import matplotlib.pyplot as plt
import seaborn as sns
import japanize_matplotlib
from sklearn.preprocessing import StandardScaler


warnings.simplefilter('ignore')

In [4]:
df = pd.read_csv('babies_weight.csv')
df.head(3)

   weeks  weight  gender
0     36    2980       0
1     38    2707       1
2     39    3049       1

In [17]:
scaler = StandardScaler()
X = scaler.fit_transform(df['weeks'].values.reshape(-1, 1)).flatten()
y = scaler.fit_transform(df['weight'].values.reshape(-1, 1)).flatten()
gender = df['gender'].values

array([0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 1])